body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1321px;
    height: 646px;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;

}

.containner {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    overflow: hidden;
}

.worldcup-header {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}

.banner-info {
    width: 40%;
    margin: 0 auto;
}

.banner-info h1 {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner-info p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.banner-btn {
    border: 2px solid #FFFFFF;
    box-shadow: inset 0 0 0 2px #fff;
    background: none;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.banner-btn i {
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.banner-img img {
    width: 581px;
    height: 650px;
}

.germany {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;

}

.germany img {
    height: 70px;

}

.bogger-name h3 p {
    justify-content: center;
    align-items: center;
}

.top-banner {
    display: flex;
    background-color: black;
    border-radius: 10px;
}

.top-banner .fa-solid {
    color: #E8E8E8;
}

.hedder {
    width: 1321px;
    height: 646px;
    width: 50%;
    padding-left: 20px;
}

.hedder img {
    width: 75%;
    padding-top: 20px;
}

.hedder h1 {
    font-size: 80px;
    margin-left: 50px;
    color: aliceblue;

}

.hedder p {
    margin-left: 50px;
    color: aliceblue;
    font-size: 15px;

}

.hedder button {
    margin-left: 50px;
    background-color: red;
    color: aliceblue;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#blog-one {
    display: flex;
    margin-bottom: 80px;
    margin-top: 80px;

}

.blog-catagorey {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 312px;
    height: 312px;
    background: #000000;
    border-radius: 10px;
}

.catagorey-btn {
    width: 240px;
    padding: 15px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    box-shadow: inset 0 0 0 2px #fff;
    background: none;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
}

.view-blog-btn {
    width: 240px;
    padding: 15px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    box-shadow: inset 0 0 0 2px #fff;
    background: rgb(255, 0, 0);
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
}

.all-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
}


.bogger-name {
    margin: 0px auto;


}

.blogs-post {
    width: 320px;
    height: 210px;
    border: 1px solid #E8E8E8;
    border-radius: 10px 10px 10px 10px;
    margin-left: 24px;
}

.blog-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bloginfo-img {
    height: 87px;
    width: 120px;

}

.inner-footer {
    margin: 0;
    padding: 0;
    background-color: #000000;

}

.outer-footer {
    padding: 10px;
    text-align: center;
    color: wheat;
    font-size: 18px;
    background-color: #3f3f3f;
}

.outer-footer {
    padding: 10px;
    text-align: center;
    color: wheat;
    font-size: 18px;
    background-color: #3f3f3f;
}

hr {
    width: 70%;
}


h4 {

    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
}


.socil-icon {
    display: flex;
    justify-content: center;
    flex-direction: row;


}

.quick-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-link a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 20px;

}

.social-links .fa-solid {
    color: white;
    font-size: 30px;
}

.socil-icon a {
    list-style: none;
}

.socil-icon a {
    display: flex;

}

.socil-icon a .fa-brands {
    color: #6cccc6;
    font-size: 40px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;

}


@media screen and (max-width:576px) {
    .blog-catagorey {
        grid-template-columns: repeat(2, 1fr);
    }


}